<a
  *ngIf="showRibbon"
  href="https://github.com/levz0r/s3-domain-parking"
  target="_blank"
  ><img
    style="position: absolute; top: 0; left: 0; border: 0; width: 149px; height: 149px;"
    src="http://aral.github.com/fork-me-on-github-retina-ribbons/left-dusk-blue@2x.png"
    alt="Fork me on GitHub"
/></a>
<div
  style="display: inline-flex;justify-content: center;height: 100%;flex-direction: column;font-family: 'Merriweather', serif;"
>
  <p class="domain-text">
    {{ domainName }}
  </p>
  <p style="text-align: center;" [innerHTML]="innerHtml"></p>
</div>
